*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
.conatiner{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
h1{
    color: pink;
    font-size: 7rem;
    vertical-align: text-top;
    text-shadow: black 2px 2px 2px;
    top: 8rem;
    position: absolute;

}
.background{
    transform: translateZ(-40px)scale(5);
}
.foreground{
    transform: translateZ(-20px)scale(3);
}
.background,.foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
section{
    background-color: rgb(45 45 45);
    color: white;
    
}
.bg1{
    background-image: url(sport-1.jpg);
}
.bg2{
    background-image: url(sport-2.jpg);
}
.bg3{
    background-image: url(sport-3.jpg);
}
.secHeading{
    font-size: 5rem;
    padding:0 5rem;
}
.text{
    font-size: 1rem;
    padding: 5rem 5rem;

}
.desc{
    color: black;
    font-size: 2rem;
    position:absolute ;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateX(-50%) translate(-10%);
    

}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 500px;
    background-size: cover;
    background-position: center;

}